<div class="flex-wrapper">
  <div class="text-container">
    <h2>Un toque poético y visual</h2>
    <p>Explora imágenes que susurran historias, cada foto un instante congelado en tiempo, cada sombra y color un suspiro del alma.</p>
  </div>
  <div class="gallery">
    <img src="https://i.pinimg.com/736x/c3/b9/ba/c3b9ba8196f76306019cd17a1b9f992d.jpg" alt="mujer entre tonos rosas" />
    <img src="https://i.pinimg.com/736x/58/8c/d5/588cd5c763a5bc491df10d4d88879545.jpg" alt="joven de mirada profunda" />
    <img src="https://i.pinimg.com/736x/b2/16/97/b21697a38f788482c35c5614d66bd641.jpg" alt="paisaje interior" />
    <img src="https://i.pinimg.com/736x/6e/39/3b/6e393b03f2e53da3e96f17687245fa94.jpg" alt="instante etéreo" />
    <img src="https://i.pinimg.com/736x/ae/2d/da/ae2dda1bcd6d822c96a4f3cffd2c6f10.jpg" alt="alma atrapada en luz" />
  </div>
</div>
