<app-navbar></app-navbar>



<form [formGroup]="registro" (ngSubmit)="enviar()">
  <h2 style="text-align: center; margin-top: 20px; color: #ffffff;">Formulario de Registro 📝</h2>
  <input formControlName="firstName" placeholder="Nombres" (keypress)="soloLetras($event)">
  <div *ngIf="registro.get('firstName')?.touched && registro.get('firstName')?.invalid" style="color:red;">
    <small *ngIf="registro.get('firstName')?.errors?.['required']">Los nombres son obligatorios 🌟</small>
    <small *ngIf="registro.get('firstName')?.errors?.['pattern']">Solo letras, sin números 🚫</small>
  </div>

  <input formControlName="lastName" placeholder="Apellidos" (keypress)="soloLetras($event)">
  <div *ngIf="registro.get('lastName')?.touched && registro.get('lastName')?.invalid" style="color:red;">
    <small *ngIf="registro.get('lastName')?.errors?.['required']">Los apellidos son obligatorios 🌟</small>
    <small *ngIf="registro.get('lastName')?.errors?.['pattern']">Solo letras, sin números 🚫</small>
  </div>

  <input formControlName="email" type="email" placeholder="Correo">
  <div *ngIf="registro.get('email')?.touched && registro.get('email')?.invalid" style="color:red;">
    <small *ngIf="registro.get('email')?.errors?.['required']">Correo obligatorio 📧</small>
    <small *ngIf="registro.get('email')?.errors?.['email']">Correo inválido 😵‍💫</small>
  </div>

  <input formControlName="password" type="password" placeholder="Contraseña">
  <div *ngIf="registro.get('password')?.touched && registro.get('password')?.invalid" style="color:red;">
    <small *ngIf="registro.get('password')?.errors?.['required']">Contraseña obligatoria 🔒</small>
    <small *ngIf="registro.get('password')?.errors?.['minlength']">Mínimo 6 caracteres 🔑</small>
  </div>

  <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña">
  <div *ngIf="registro.hasError('mismatch') && registro.get('confirmPassword')?.touched" style="color:red;">
    <small>Las contraseñas no coinciden ❌</small>
  </div>

  <!-- Subir foto -->
  <label>Subir foto:</label>
  <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg">
  <div *ngIf="imagenError" style="color:red;">{{ imagenError }}</div>

  <div *ngIf="previewImg" style="margin-top:10px;">
    <img [src]="previewImg" alt="Foto previa" style="width: 120px; height: auto; border-radius: 6px; border: 1px solid #ccc;">
  </div>

  <button type="submit" [disabled]="registro.invalid">Enviar</button>
</form>

<!-- Lista de usuarios (opcional) -->
<div *ngIf="usuariosRegistrados.length > 0">
  <h3>Usuarios registrados:</h3>
  <pre>{{ usuariosRegistrados | json }}</pre>
</div>

<app-footer></app-footer>
