
<app-navbar></app-navbar>
<h1 style="text-align:center; font-size: 3rem; margin: 30px 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #007BFF;">
  MEMENTO
</h1>
<p style="text-align:center; font-size: 1.1rem; color: #555; max-width: 400px; margin: 0 auto 30px auto;">
  Porfa, ingresa tu usuario solo con letras y una contraseña con mínimo 6 caracteres para entrar a tu cuenta.
</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input formControlName="email" type="email" placeholder="Correo">
  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" style="color:red;">
    <small *ngIf="loginForm.get('email')?.errors?.['required']">Correo obligatorio 📧</small>
    <small *ngIf="loginForm.get('email')?.errors?.['email']">Correo inválido 😵‍💫</small>
  </div>

  <input formControlName="password" type="password" placeholder="Contraseña">
  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" style="color:red;">
    <small *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña obligatoria 🔒</small>
    <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres 🔑</small>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
</form>

<app-footer></app-footer>
