<app-navbar></app-navbar>

<h1
  style="text-align:center; font-size: 5rem; margin: 90px 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #550d91;">
  NØRVAK 
</h1>

<p style="text-align:center; font-size: 1.1rem; color: #580779; max-width: 400px; margin: 0 auto 30px auto;">
  Por favor, escribe tu usuario (solo letras) y una contraseña de mínimo 6 caracteres para ingresar a tu cuenta.
</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input formControlName="email" type="email" placeholder="Correo">
  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" style="color:red;">
    <small *ngIf="loginForm.get('email')?.errors?.['required']">Correo obligatorio 📧</small>
    <small *ngIf="loginForm.get('email')?.errors?.['email']">Correo inválido 😵‍💫</small>
  </div>

  <input formControlName="password" type="password" placeholder="Contraseña">
  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" style="color:red;">
    <small *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña obligatoria 🔒</small>
    <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres 🔑</small>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
  <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
    {{ errorMessage }}
  </div>
</form>



<app-footer></app-footer>
